@media (min-width: 992px) {
	body {
		padding-top: 20px;
	}
}
@media (max-width: 991px) {
	body {
		padding-top: 0px;
	}
	.navbar-brand {
		margin-bottom: 0px;
	}
}

body {
  padding-bottom: 20px;
}

.logo {
	margin-bottom: 20px;
  background-image: url(../img/s200w.png);
	background-size: 200px 30px;
	height: 30px;
	width: 200px;
	margin-left: 14px;
}

.logo-small {
  background-image: url(../img/s20h.png);
	background-size: 135px 20px;
	height: 20px;
	width: 135px;
}


/* for high resolution display */
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.logo {
		background: url(../img/s200w@2x.png) no-repeat;
		background-size: 200px 30px;
	}

	.logo-small {
		background: url(../img/s20h@2x.png) no-repeat;
		background-size: 135px 20px;
	}
}

.bootstrap-growl {
	text-align: center;
	padding: 5px;
}

.icon-login-google {
	background-image: url("../img/g14.png");
}

.icon-login-facebook {
	background-image: url("../img/f14.png");
}

[class^="icon-"],
[class*=" icon-"] {
	background-position: 0% 0%;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
	background-repeat: no-repeat;
}

.forgot_pwd_div {
	margin-top: 10px;
}


/* To fix iOS 9-bug, see
	http://stackoverflow.com/questions/32675849/screen-zooms-in-when-a-bootstrap-modal-is-opened-on-ios-9-safari
*/
body {
  padding-right: 0px !important
}

.modal-open {
  overflow-y: auto;
}
