.text_bold {
	font-weight: bold;
}

.text_right {
	text-align: right;
}

.text_center {
	text-align: center;
}

.transactions_amount {
	float: right;
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
}

/* Classes for menu in list group */
	.icon_size {
		font-size: 24px;
	}

	.more-button-div {
		margin-bottom: -9px;
	}

	.dropdown_danger {
	    color: #c54440 !important;
	}

	.dropdown_primary {
	    color: #86c540 !important;
	}

.cursor_pointer {
	cursor: pointer;
}

.transactions_buttons {
	margin-top: 10px;
	margin-bottom: 3px;
}

.form-feedback-no-label {
	top: 0px !important;
}

.tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

.memo_left {
	float: left;
	margin-right: 10px;
}

.memo_list_amount {
	float: right;
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
}

.list_group_action_right {
	float: right;
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	line-height: 1;
	vertical-align: baseline;
	text-align: center;
}

@-moz-document url-prefix() { /* hack for responsive tables in firefox, see bootstrap manual */
	fieldset { display: table-cell; }
}

.connections_yellow {
	color: #FFC517;
}

.bottom15 {
	margin-bottom: 15px;
}
