<p>If you have any questions, suggestions or input, please let us know. For any technical issues or contributions, you can also check out the <a href="https://github.com/settlepad/">Settlepad GitHub</a>.</p>

<form id="message_form">
  <div class="form-group">
    <textarea class="form-control" rows="3" placeholder="Enter your message here" id="message_textarea"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Send</button>
</form>
