<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#profile">Profile</a></li>
  <li><a href="#connections">Connections</a></li>
</ul>


<p>The <b>profile</b> tab will contain settings for the friendlyname of the user, his credentials (one or more email addresses), his default currency and a button to remove your account.</p>
